.Header {
    background-image: linear-gradient(#B50000, #2B0000);
    border: 10px solid maroon;
    color: white;
    margin: auto;
}

.Bar {
    background: cyan;
    margin: auto;
    padding: 5px;
}

.Main {
    padding-top: 10px;
    margin: auto;
}

.Sidebar {
    background: grey;
}

.Box {
    padding: 50px;
    border-bottom: 3px solid black;
}